/* 
   Lattice Grid
   owebboy
*/

/* ONE 
 * ==================================== */
 .one {
   float: left;
   margin: 1em;
   width: calc(100% * 1 - 2em);
 }
 
/* HALF 
 * ==================================== */
 .one-half {
   float: left;
   margin: 1em;
   width: calc(100% * 1/2 - 2em);
 }
 
/* THRIDS 
 * ==================================== */
 .one-third {
   float: left;
   margin: 1em;
   width: calc(100% * 1/3 - 2em);
 }
 
 .two-thirds {
   float: left;
   margin: 1em;
   width: calc(100% * 2/3 - 2em);
 }
 
/* QUARTERS 
 * ==================================== */
 .one-fourth {
   float: left;
   margin: 1em;
   width: calc(100% * 1/4 - 2em);
 }
 
 .three-fourths {
   float: left;
   margin: 1em;
   width: calc(100% * 3/4 - 2em);
 }
 
/* MEDIA: PHONE 
 * ==================================== */
 @media screen and (max-width: 720px) {
   .one, .one-half, .one-third, .two-thirds, .one-fourth, .three-fourths {
     width: calc(100% * 1 - 2em);
   }
 }